{% load static %}
<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-guest-dark text-white">
        <h5 class="modal-title">Thank you</h5>
      </div>
      <div class="modal-body bg-guest-lighter>
        {% if enquiry.subject %}
          <p>Your message with subject:<br> <b>{{ enquiry.subject }}</b><br> has been received.<br>
            We will get back to you shortly.</p>
          <p>We have sent an acknowledgement email to <b>{{ enquiry.contact.main_address.email }}</b>.<br>
            If you do not receive it, please check your junk or spam folder, and add us to your contacts or safe
            senders.</p>
        {% endif %}
        {% if enquiry.contact.mail_consent %}
          <p>You are on our mailing list.</p>
        {% else %}
          <p>You have not been added to our mailing list.</p>
        {% endif %}
        <div class="button-group">
          <button class="btn bg-guest-dark text-white mt-3" onclick="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'shop/js/htmx_helper.js' %}"></script>
