{% load bootstrap4 %}
<form action="." method="get" id="id_filter_form">
  {{ filter.form.media }}
  <div class="{% if filter_column %}d-flex-column{% else %}d-flex{% endif %}">
    {% for field in filter.form.visible_fields %}
      {% if field.name != 'per_page' %}
        {% if filter_button %}
          {% bootstrap_field field form_group_class="form-group" label_class="mb-0" %}
        {% else %}
          {% bootstrap_field field form_group_class="form-group auto-submit" label_class="mb-0" %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if filter_button %}
      <button class="form-control btn-primary " id="id_search" type="submit">
        <i class="fas fa-filter"></i>&nbsp&nbsp {{ filter_button }}
      </button>
    {% endif %}
  </div>
</form>