{% extends "django_tables2/bootstrap4.html" %}
{% load render_table querystring from django_tables2 %}
{% load trans from i18n %}
{% load static %}

{% block table %}
  <div id="{{ table.uniq_table_class_name }}" class="column-shifter-container">
        {% include "table_manager/_action_row.html" %}
      <input type="hidden" name="query" value={% querystring without "page" "per_page" %}>
    {# Loader default is show #}
    <div class="loader" style="text-align:center;">
      <img src="{% static "django_tables2_column_shifter/img/loader.gif" %}" style="margin:5px auto;" alt="loader"/>
      {% trans "Table content is loading..." %}
    </div>
    {# End loader #}

    {# Wrapper default is hide #}
    <div class="table-wrapper" style="display:none;">
      {# Load default table content   #}
      <div class="px-2">
      {{ block.super }}
      </div>
    {# End table-wrapper #}

  </div>
{% endblock table %}

