{% extends "shop/shop_base.html" %}
{% load static bootstrap4 %}
{% load render_table querystring from django_tables2 %}

{% block content %}
  {% if allow_update %}
    <div id="ajax_update" style="display: none"></div>{% endif %}
  {% if allow_detail %}
    <div id="ajax_detail" style="display: none"></div>{% endif %}

  {% if filter %}
    {{ filter.form.media }}

    {% if filter_left %}
      <div class="container-fluid" style="height: calc(100% - 60px);">
        <div class="row h-100">
          <div class="col col-md-3 col-lg-2 m-0 p-0">
            <div class="h-100 d-flex flex-column">
              <div class="bg-light p-3 text-center" style="height:72px;"><h3>{{ heading }}</h3></div>
              <div class="panel flex-grow-1 bg-guest-light">
                <form action="." method="get" id="id_filter_form">
                  {% for field in filter.form.visible_fields %}
                    {% if field.name == 'per_page' %}
                      <div >{% bootstrap_field field placeholder="" %}</div>
                    {% else %}{% bootstrap_field field placeholder="" form_group_class="form-group auto-submit" %}{% endif %}
                  {% endfor %}
                  {%  if filter_button %}
                    <button class="form-control btn-primary " id="id_search" type="submit">
                      <i class="fas fa-filter"></i>&nbsp&nbsp {{ filter_button }}
                    </button>
                  {% endif %}
                </form>
              </div>
            </div>
          </div>
          <div class="col col-md-9 col-lg-10 ml-0 bg-light">
            {% bootstrap_messages %}
{#              {% include "table_manager/table_actions.html" %}#}
            <div class="row flex-grow-1">
              <div class="col-12">
              {% include "django_tables2_column_shifter/table.html" %}
              </div>
{#              {% block table %}#}
{#              {% include "table_manager/table_data.html"  with heading="" %}#}
            </div>
          </div>
        </div>
      </div>
    {% else %} <!-- filter at top -->
      <div class="container-fluid p-0 bg-guest-light" style="height: calc(100% - 60px);">
        {% bootstrap_messages %}
        <div class="panel bg-guest-light">
          <div class="p-2 text-center" style="height:72px;"><h3>{{ heading }}</h3></div>
            <form action="." method="get" id="id_filter_form">
          <div class="row">
              {% for field in filter.form.visible_fields %}
                <div class="col col-md-2">
                  {% bootstrap_field field placeholder=""%}
                </div>
              {% endfor %}
              {% if filter_button %}
              <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <div class="form-group">
                  <label for="id_search">&nbsp;</label>
                  <button class="form-control btn-primary " id="id_search" type="submit">
                    <i class="fas fa-filter"></i>&nbsp&nbsp {{ filter_button }}
                  </button>
                </div>
              </div>
            {% endif %}
          </div>
            </form>
          <div class="h-100 d-flex flex-column">
            <div class="col bg-light h-100">
              <div class="row flex-grow-1">
{#                {% include "table_manager/table_data.html" with heading="" %}#}
                {% include "django_tables2_column_shifter/table.html" %}
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  {% else %} <!-- No filter -->
    <div class="container-fluid bg-guest-light">
      <div class="card">
        {% include "table_manager/table_data.html"  with heading=""%}
      </div>
    </div>
  {% endif %}

  <!-- Modal to hold main partial form -->
  <div class="modal" data-backdrop="static" data-keyboard="false" id="modal-form" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-light">
      </div>
    </div>
  </div>

  <!-- Modal to hold second partial form -->
  <div class="modal" data-backdrop="static" data-keyboard="false" id="modal-form-2" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content bg-light">
      </div>
    </div>
  </div>

  <!-- Modal to confirm -->
  <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal-confirm" role="dialog"
       style="top:250px;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-warning"><h5>Are you sure?</h5></div>
      <div class="modal-body">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger js-delete" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
  </div>

{% endblock %}
{% block custom_scripts %}
  <script src="{% static "table_manager/js/table_manager.js" %}"></script>
  <script src="{% static "django_tables2_column_shifter/js/django_tables2_column_shifter.js" %}"></script>
{% endblock %}