{% load wagtailcore_tags wagtailimages_tags %}

<div class="card border-0 bg-transparent text-center {{ self.settings.custom_css_class }} {{ child_css }}" style="width:256px;"
     {% if self.settings.custom_id %}id="{{ self.settings.custom_id }}"{% endif %}>
  {% if self.image %}
    {% image self.image fill-256x256 as card_img %}
    {% if self.link_item %}<a href="/item/{{ card_img.image.item.ref }}/">{% endif %}
    <img class="" src="{{ card_img.url }}" alt="{{ card_img.title }}">
  {% if self.link_item %}</a>{% endif %}
  {% endif %}
  {% if self.show_caption %}
    <div class="card-body">
      <div class="card-text">{% if self.caption %}self.caption{% else %}{{ card_img.image.item.name }}{% endif %}</div>
    </div>
  {% endif %}
</div>