<div id="CookielawBanner">
    <div class="container">
      <div class="row">
        <div class="col-9">
          This website site uses cookies to track visits to our website. We do not store any personal details.<br>
          There is more information about cookies <a href="https://www.allaboutcookies.org/cookies/">here</a>.
        </div>
        <div class="col">
          <a class="btn btn-secondary " href="javascript:Cookielaw.createCookielawCookie();">Accept</a>
        </div>
      </div>
    </div>
</div>