{% load bootstrap4 %}
<style>
  input {
    border: none;
  }
</style>
<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content note">
      <form hx-post="{% url "notes:htmx" %}" hx-target="#modals-here">
      <div class="note">
        <input type="text" class="note-title" name="title" placeholder="Note title" value="{{ form.initial.title }}">
        <textarea name="content" rows="10" class="note-content" placeholder="Note content">{{ form.initial.content }}</textarea>
        <input type="hidden" name="item" value="{{ item.id }}">
        <div class="px-3 pb-2">
        <button type="submit" class="btn btn-secondary btn-sm" name="save">Save</button>
          {% if note %}
        <button type="submit" class="btn btn-danger btn-sm" name="delete">Delete</button>
           <p class="float-right pt-2 pb-0" style="font-size:14px;">Updated by {{ note.user }} on {{ note.updated_at|date }}</p>
          {% endif %}
        </div>
      </div>
      </form>
    {% if note %}

    {% endif %}
    </div>
  </div>
</div>