{% extends "coderedcms/blocks/base_block.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block block_render %}
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
  />

  <style>
      .swiper {
          width: 95%;
          height: 100%;
      }
      .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;

          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
      }
      .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
      .swiper-button-next {
          color: #819b80;
      }
      .swiper-button-prev {
          color: #819b80;
      }
      .swiper-pagination-bullet-active {
          background: #819b80;
      }
      .swiper-pagination-bullets.swiper-pagination-horizontal {
          bottom: -5px;
      }
  </style>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <div class="swiper my-4">
    <div class="swiper-wrapper">
      {% for slide in self.carousel.carousel_slides.all %}
        <div class="swiper-slide">
          {% if slide.image %}
            <a href="/item/{{ slide.image.item.ref }}/{{ slide.image.item.slug }}">
              {% image slide.image fill-1000x1000 as carouselimage %}
              <img src="{{ carouselimage.url }}" alt="{{ carouselimage.image.title }}"/>
            </a>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination mt-2"></div>
  <script>
      var swiper = new Swiper(".swiper", {
          slidesPerView: 1,
          spaceBetween: 10,
          loop: true,
          pagination: {
              el: ".swiper-pagination",
              clickable: true,
          },
          breakpoints: {
              "@0.00": {
                  slidesPerView: 1,
                  spaceBetween: 10,
              },
              "@0.75": {
                  slidesPerView: 2,
                  spaceBetween: 20,
              },
              "@1.00": {
                  slidesPerView: 3,
                  spaceBetween: 20,
              },
              "@1.25": {
                  slidesPerView: 4,
                  spaceBetween: 20,
              },
              "@1.50": {
                  slidesPerView: 5,
                  spaceBetween: 20,
              },
          },
          navigation: {
              nextEl: ".swiper-button-next",
              prevEl: ".swiper-button-prev",
          },
      });
  </script>
{% endblock %}
