{% extends "coderedcms/blocks/base_block.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}
{% block block_render %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">

  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <div class="slider my-4"">
      {% for slide in self.carousel.carousel_slides.all %}
        <div class="swiper-slide">
          {% if slide.image %}
            <a href="/item/{{ slide.image.item.ref }}/{{ slide.image.item.slug }}">
              {% image slide.image fill-250x250 as carouselimage %}
              <img src="{{ carouselimage.url }}" alt="{{ carouselimage.image.title }}"/>
            </a>
          {% endif %}
        </div>
      {% endfor %}
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
  <script>
  var slider = tns({
    container: '.slider',
    items: 1,
    responsive: {
      640: {
        edgePadding: 20,
        gutter: 20,
        items: 2
      },
      768: {
        gutter: 30,
          items: 3
      },
      1200: {
        items: 4
      }
    },
  });
  </script>
{% endblock %}
