{% extends "shop/shop_base.html" %}
{% load static bootstrap4 crispy_forms_tags %}
{% block body_class %}bg-guest-light{% endblock %}
{% block content_body %}
  <div class="container mt-2">
    {{ form.media }}
    <form method="post" action="{{ path }}" novalidate>
      {% csrf_token %}
      <div class="card">
        <div class="card-header card-body bg-white">
          <h4 class="my-0">Checkout</h4>
        </div>
        {% bootstrap_form_errors form type='all' %}
        <div class="bg-light">
          <div class="card-body">
            <div class="row">
              <div class=col-md-4>
                <h6>Buyer</h6>
                <div class="card p-2 mb-2 bg-white" style="min-height: 6rem;">
                  {{ contact|linebreaksbr }}
                </div>
              </div>
              <div class="col-md-4">
                <h6 class="mt-2">Invoice type</h6>
                {% bootstrap_field form.proforma %} <!-- set by radio buttons -->
                <div class="custom-control custom-radio">
                  <input type="radio" id="radio_proforma" name="invoice" class="custom-control-input">
                  <label class="custom-control-label" for="radio_proforma">Create proforma invoice</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="radio_invoice" name="invoice" class="custom-control-input">
                  <label class="custom-control-label" for="radio_invoice">Create final invoice</label>
                </div>
              </div>
              <div class="col-md-4 my-2" id="id_date_group" {% if not final %}style="display: none;{% endif %}">
                <h6>Invoice date</h6>
                {% bootstrap_field form.invoice_date show_label=False placeholder="Select date" %}
                <p>Invoice number: {{ number }}</p>
              </div>
            </div>
            {% include 'shop/includes/invoice_table.html' with editable=False %}
          </div>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary" href="{% url 'cart_buyer' %}">Back</a>
          <button type="submit" class="btn btn-primary" id="create_button" name="submit">Create invoice</button>
        </div>
      </div>
    </form>
    <!-- Modal to hold partial form -->
    <div class="modal " data-backdrop="static" data-keyboard="false" id="modal-form" role="dialog">
      <div class="modal-dialog modal-dialog-centered {{ modal_class }}" role="document">
        <div class="modal-content bg-light">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block custom_scripts %}
  <script src="{% static "shop/js/create_invoice.js" %}"></script>
{% endblock %}