{% extends "shop/shop_base.html" %}
{% load bootstrap4 wagtailimages_tags shop_tags static %}
{% block content_body %}
  <div class="container bg-light my-2 p-4">
    <h3 class="my-2">{{ category.name }}</h3>
    {% breadcrumb category.breadcrumb_nodes %}
    <div class="row">
      <div class="col col-md-3">
        <div class="card bg-light border-0" style="height:250px;">
          {% if category and category.image %}
            {% image category.image max-250x250 as image %}
            <div class="image">
              <img class="image-responsive" src="{{ image.url }}" id="id_category_image">
            </div>
          {% else %}
            <div class="image">
              <img class="image-responsive" src="{% static "shop/images/no_image.png" %}" id="id_category_image">
            </div>
          {% endif %}
        </div>
      <p class="small">
        {% if category.image %}
          {{ category.image.item.ref }} {{ category.image.item.name }}
          {% else %}
          No main image
        {% endif %}</p>
      </div>
          <div class="col col-md-6">
        {% if category.description %}
          {{ category.description|linebreaksbr }}
        {% else %}
          <i>No description</i>
        {% endif %}
      </div>
      <div class="col col-md-3">
        <div class="card bg-light border-0"
             style="height:250px;">
          {% if category and category.archive_image %}
            {% image category.archive_image max-250x250 as image %}
            <div class="image">
              <img class="image-responsive" src="{{ image.url }}" id="id_archive_image" alt="Archive image">
            </div>
          {% else %}
            <div class="image">
              <img class="image-responsive" src="{% static "shop/images/no_image.png" %}" id="id_archive_image">
            </div>
          {% endif %}
        </div>
      <p class="small">
        {% if category.archive_image %}
          {{ category.archive_image.item.ref }} {{ category.archive_image.item.name }}
          {% else %}
          No archive image
        {% endif %}</p>
      </div>

    </div>
    <div class="row">
      <div class="col">
        <form method="post">{% csrf_token %}
          <button type="submit" name="return" class="btn btn-primary">Back</button>
          {% if not category.is_root %}
            <a class="btn btn-primary" href="{% url "category_update" pk=category.pk %}{{ return }}">Edit category</a>
            {% if not shop_items and not archive_items and category.is_leaf %}
              <button type="submit" name="delete" class="btn btn-danger">Delete category</button>
            {% else %}
            {% endif %}
          {% else %}
            <p class="text-danger"> Catalogue root cannot be changed</p>
          {% endif %}
        </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col col-md-6">
        <span class="h4 mt-0">Shop items</span><span class="float-right"><a class="btn btn-sm btn-outline-primary"
                                                                            href="{{ category.slug }}">Public view</a></span><br>
        <hr>
        {% if shop_items %}
          {% for item in shop_items %}
            <a href="{% url 'item_detail' pk=item.pk %}">{{ item.ref }} {{ item.name }}</a><br>
          {% endfor %}
        {% else %}
          <p><i>No shop items</i></p>
        {% endif %}
      </div>
      <div class="col col-md-6">
        <span class="h4 mt-0">Archive items</span><span class="float-right"><a class="btn btn-sm btn-outline-primary"
                                                                               href="{{ category.archive_slug }}">Public view</a></span><br>
        <hr>
        {% if archive_items %}
          {% for item in archive_items %}
            <a href="{% url 'item_detail' pk=item.pk %}">{{ item.ref }} {{ item.name }}</a><br>
          {% endfor %}
        {% else %}
          <p><i>No archive items</i></p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}