{% extends "shop/shop_base.html" %}
{% load static bootstrap4 %}
{% block head %}
  <link rel="stylesheet" href="{% static "shop/css/jqtree.css" %}">
{% endblock %}
{% block content_body %}
  <div class="container py-2 bg-light">
    <div class="row">
      <div class="col my-2">
        <span class="h3">Category tree</span><span class="float-right">
        <a class="btn btn-secondary" href="{% url "category_create" %}{{ return }}">Create new category</a>
      </span><br><hr>
        {% if errors %}
          {% bootstrap_alert "Tree contains errors" alert_type="danger" %}
          <form method="post">{% csrf_token %}
            <input type="submit" class="btn btn-danger mb-2" name="fix" value="Repair tree">
          </form>
        {% endif %}

        <div id="tree" data-url="{% url "category_tree" %}"></div>
      </div>
    </div>
  </div>
{% endblock %}
{% block custom_scripts %}
  <script src="{% static "shop/js/tree.jquery.js" %}"></script>
  <script src ="{% static "shop/js/category_tree.js" %}"></script>
{% endblock %}