{% extends "shop/shop_base.html" %}
{% load static bootstrap4 %}
{% block head %}
  <link rel="stylesheet" href="{% static "shop/css/jqtree.css" %}">
{% endblock %}
{% block content_body %}
  <div class="container my-2 py-2 bg-light">
    <div class="row">
      <div class="col">
        <h1>Categories</h1>
        {% if errors %}
          {% bootstrap_alert "Tree contains errors" alert_type="danger" %}
          <form method="post">{% csrf_token %}
            <input type="submit" class="btn btn-danger mb-2" name="fix" value="Repair tree">
          </form>
        {% endif %}
        <div id="tree" data-url="{% url "category_tree" %}"></div>
      </div>
    </div>
  </div>
{% endblock %}
{% block custom_scripts %}
  <script src="{% static "shop/js/tree.jquery.js" %}"></script>
  <script src ="{% static "shop/js/category_tree.js" %}"></script>
{% endblock %}