{% extends "shop/shop_base.html" %}
{% load bootstrap4 wagtailimages_tags %}
{% block content_body %}
  <div class="container bg-light">
    <div class="row">
      <div class="col">
        <h1>{{ category.name }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 my-3">
        {% image category.image width-300 %}
        <br> {{ category.image.object.name }} <br>
        <a class="btn btn-primary" href="{% url "category_update" pk=category.pk %}">Edit category</a>
      </div>
      <div class="col-md-8">
        <div class="my-2">
        </div>
        <ul>
          {% for object in object_list %}
            <li><a href="{% url 'object_detail' pk=object.pk %}">{{ object.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}