{% extends "shop/shop_base.html" %}
{% load bootstrap4 %}
{% load wagtailimages_tags %}
{% block content_body %}
  <div class="container my-2 py-2 bg-light">
    <div class="row">
      <div class="col">
        <h2 class="my-2">{{ view.title }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-8">
        <form method="post" class="form">
          {% csrf_token %}
          {% bootstrap_field form.name %}
          {% bootstrap_field form.short_name %}
          {% bootstrap_field form.description %}
          <div class="row">
            <div class="col-4">
              {% bootstrap_field form.category_ref %}
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-sm btn-secondary mt-4 js-search" id="category_search">Change</button>
            </div>
            <div class="col-4">
              {% bootstrap_field form.archive_ref %}
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-sm btn-secondary mt-4" id="archive_search">Change</button>
            </div>
          </div>
          {% buttons %}
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-outline-secondary" href="{{ category.get_absolute_url }}">View on website</a>
          {% endbuttons %}
        </form>
      </div>
      <div class="col col-lg-4">
        {% if category.image %}
          <img id="id_item_image" width="250" src="{{ category.image.file.url }}">
          <br> Item ref: <span id="catRef">{{ category.image.item.ref }}</span><br><br>
        {% else %}:
          <div class="card card-body bg-white text-center" style="width:300px; height:250px">
            <i>No category image</i>
          </div>
        {% endif %}
        {% if category.archive_image %}
          <img id="id_archive_image" width="250" src="{{ category.archive_image.file.url }}">
          <br> {{ category.archive_image.item.ref }} <br>
        {% else %}
          <div class="card card-body bg-white text-center" style="width:300px; height:200px">
            <i>No archive image</i>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

    <div id="images_url" class="d-none">{{ images_url }}</div>
  <div id="category_id" class="d-none"> {{ category.id }}</div>

  <script>
    $("#category_search").click(function() {
      var ref = document.getElementById("id_category_ref").value;
      var target = "#id_item_image";
      ajax_get(ref, target);
    })

    $("#archive_search").click(function() {
      var ref = document.getElementById("id_archive_ref").value;
      var target = "#id_archive_image";
      ajax_get(ref, target);
    })

    function ajax_get(ref, target) {
      $.ajax({
        url: document.getElementById("images_url").innerText,
        type: 'get',
        dataType: 'json',
        data: {
          ref: ref,
          category: document.getElementById("category_id").innerText,
          target: target
        },
        success: function (data) {
          if (data.image) {
            $(target).attr("src", data.image);
          }
        },
        error: function (e) {
          alert(e);
        },
        timeout: 10000
      });
    }
  </script>


{% endblock %}
