{% extends "shop/shop_base.html" %}
{% load django_bootstrap5 %}
{% load wagtailimages_tags %}
{% block content_body%}
  <div class="container bg-light">
    <div class="row">
      <div class="col">
        <h1>Build category index for objects</h1>
        <br>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">start</button>
          <br>
          {% if count or errors %}
          <h3>Success count: {{ items }} Categories created {{ categories }} Empty category: {{ empty }}</h3>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}