{% load wagtailimages_tags static %}
{% if images %}
  <div class="card bg-light">
    <form class="d-flex flex-wrap m-2 justify-content-center" id="group" hx-post="" hx-trigger="end" hx-target="#linked_images">
      {% for image in images %}
        <div>
          <div class="small text-muted text-center p-0 m-0">
          {% if item.image.id == image.id %}Primary image{% else %}&nbsp;{% endif %}
          </div>
          <input type="hidden" name="image" value="{{ image.id }}"/>
          {% image image max-250x250 as card_image %}
          {% image image original as full_image %}
          <div class="card p-0 mt-2 mr-3 mb-2" style="width:200px;">
            <a href="{{ full_image.url }}">
              <div class="image">
                <img src="{{ card_image.url }}" class="img img-responsive full-width "/>
              </div>
            </a>
            <span class="text-center py-0" style="font-family: sans-serif">
              <p class="small text-muted mt-0 mb-0 px-1">{{ image.filename }}<br>
                  {{ image.width }}w x {{ image.height }}h
                <button class="btn btn-secondary mb-1 mr-0 py-0 float-right" hx-post="" name="hide-{{ image.id }}"
                        hx-target="#images"><span class="small">Hide</span>
                </button>
              </p>
          </span>
          </div>
        </div>
      {% endfor %}
    </form>
  </div>
{% endif %}
{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
  <script>
    new Sortable(group, {
      animation: 150,
      ghostClass: "Blue-background-class"
    })
  </script>
{% endblock %}