{% extends "shop/shop_base.html" %}
{% load wagtailimages_tags static %}
{% block body_class %}bg-light{% endblock %}
{% block content_body %}
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="my-3">Update images</h2>
        <h3 class="my-3">{{ item.name }}</h3>
      </div>
    </div>
    <div class="row">
    {% for image in images %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          {% image image width-250 as card_image %}
          <div class="card mb-2 text-center border-0 bg-light" style="height:330px; position: relative">
              {% if card_image.height > 250 %}
                <img src="{{ card_image.url }}" alt="{{ item.name }}" height="250px">
              {% else %}
                <img class="card-img-top" src="{{ card_image.url }}" alt="{{ item.name }}"
                     height="{{ card_image.height }}">
              {% endif %}
            <div class="card-body">
              {% if item.image.id == image.id %}Primary{% endif %}<br>
              <button class="btn btn-sm btn-danger js-action" data-action="delete" data-id="{{ image.id }}">Delete</button>
              {% if item.image.id != image.id %}
              <button class="btn btn-sm btn-primary js-action" data-action="primary" data-id="{{ image.id }}">Make primary</button>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="row my-3">
      <div class="col-md-8">
        <a href="{% url 'item_detail' pk=item.pk %}" class="btn btn-primary">Done</a>
        <button class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">Add an image</button>
      </div>
    </div>
  </div>
{% endblock %}
{% block content_walls %}
  <!-- Modal to load an image-->
  <div class="modal fade" id="uploadModal" data-backdrop="false" tabindex="-1" role="dialog"
       aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="post" enctype="multipart/form-data" id="idForm">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="uploadModalLabel">Upload an image</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- COMPONENT START -->
            <div class="form-group">
              <div class="input-group input-file" name="myfile">
			        <span class="input-group-btn">
        		    <button class="btn btn-outline-primary btn-choose" type="button">Choose</button>
    		      </span>
                <input type="text" class="form-control" placeholder='Choose image files'/>
                <span class="input-group-btn">
       			    <button class="btn btn-secondary btn-reset" type="button">Reset</button>
    		      </span>
              </div>
            </div>
            <!-- COMPONENT END -->
            <span id="idFeedback" class="text-error"></span>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="idUpload" name="upload" disabled>Upload</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <form id="action-form" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" id="idAction">
    <input type="hidden" name="id" id="idId">
  </form>

{% endblock %}
{% block custom_scripts %}
  <script src="{% static 'shop/js/image_management.js' %}"></script>
{% endblock %}