{% extends "shop/shop_base.html" %}
{% load wagtailimages_tags static shop_tags %}
{% block body_class %}bg-guest-light{% endblock %}
{% block content_body %}
  <div class="container my-2 py-2 bg-light">
    <div class="row">
      <div class="col">
        <h2 class="my-3">Manage images</h2>
        <h3 class="my-3">{{ item.name }}</h3>
        <p>Ref: {{ item.ref }}</p>
      </div>
    </div>
    <div class="row">
      {% if images %}
        {% for image in images %}
          <div class="col-sm-6 col-md-4 col-lg-3">
            {% image image height-250 as card_image %}
            <div class="card card-thumb shadow d-none d-sm-block">
              <div class="thumbnail" >
                <a style="background-image: url({{ card_image.url }});"></a>
              </div>
              <div class="card-body px-2 py-2" style="font-family: sans-serif">
              <p class="small mb-2">{{ image.filename }} {{ image.width }}w x {{ image.height }}h</p>
                <h5>{% if item.image.id == image.id %}Primary{% else %}&nbsp;{% endif %}</h5>
                <button class="btn btn-danger js-action" data-action="delete" data-id={{ image.id }}>Delete
                </button>
                {% if item.image.id != image.id %}
                  <button class="btn btn-primary js-action" data-action="primary" data-id={{ image.id }}>Make
                    primary
                  </button>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <p class="m-5">There are no images for this item.</p>
      {% endif %}
  </div>
  <div class="row my-3">
    <div class="col-md-8">
      <a href="{% url 'item_detail' pk=item.pk %}" class="btn btn-primary">Done</a>
      <button class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">Upload images</button>
    </div>
  </div>
  </div>

  <!-- Modal to load an image-->
  <div class="modal" id="uploadModal" data-backdrop="true" tabindex="-1" role="dialog"
       aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form method="post" enctype="multipart/form-data" id="idForm">
          {% csrf_token %}
          <div class="modal-header">
            <h5 class="modal-title" id="uploadModalLabel">Upload images</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body bg-light">
            <!-- COMPONENT START -->
            <div class="form-group">
              <div class="input-group input-file" name="myfile">
			        <span class="input-group-btn">
        		    <button class="btn btn-outline-primary btn-choose" type="button">Choose</button>
    		      </span>
                <input type="text" class="form-control" placeholder='Choose image files'/>
                <span class="input-group-btn">
       			    <button class="btn btn-secondary btn-reset" type="button">Reset</button>
    		      </span>
              </div>
            </div>
            <!-- COMPONENT END -->
            <span id="idFeedback" class="text-error"></span>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" id="idUpload" name="upload" disabled>Upload</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <form id="action-form" method="post">
    {% csrf_token %}
    <input type="hidden" name="action" id="idAction">
    <input type="hidden" name="id" id="idId">
  </form>

{% endblock %}
{% block custom_scripts %}
  <script src="{% static 'shop/js/image_management.js' %}"></script>
{% endblock %}