{% extends "shop/shop_base.html" %}
{% load bootstrap4 %}
{% load wagtailimages_tags %}
{% block content_body%}
  <div class="container-fluid bg-light">
    <div class="row">
      <div class="col">
        <h1>{{ form.title }}</h1>
        <form method="post" class="form">
          {% csrf_token %}
          {% bootstrap_form form layout="horizontal" %}
          {% buttons %}
            <button type="submit" class="btn btn-primary" name="save">
              Save
            </button>
            <button type="save" class="btn btn-primary" name="load">
              Load image
            </button>
          {% endbuttons %}
        </form>
      </div>
      <div class="col">
        {% for photo in photos %}
        {% image photo width-400 %}
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}