{% extends "shop/shop_base.html" %}
{% load bootstrap4 wagtailimages_tags%}
{% block content %}
  <div class="container bg-light">
    <div class="row">
      <div class="col-md-8">
        <h1>{{ section }}</h1>
        <a class="btn btn-primary" href="{% url "section_update" pk=section.pk %}">Edit section</a>
        <img src="{{ section.image.file.url }}">
      <ul>
        {% for object in object_list %}
          <li><a href="{% url 'object_update' pk=object.pk %}">{{ object.name }}</a></li>
        {% endfor %}

      </ul>
      </div>
    </div>
  </div>
{% endblock %}