{% load static django_htmx %}
<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'website/css/custom.css' %}"/>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" href="{% static 'website/css/site3.css' %}"/>
  <script src="{% static 'coderedcms/vendor/jquery/jquery-3.5.1.min.js' %}"></script>
  {% block head %}
  {% endblock %}
</head>

<body class="{% block body_class %}bg-guest-light{% endblock %}">
{% block navbar %}
  {% include "shop/includes/navbar.html" %}
{% endblock %}
{% block content %}
<div class="container-fluid" style="height: calc(100% - 60px);">
{% block content_body %}
{% endblock %}
</div>
{% endblock %}

{% block required_scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="{% static 'coderedcms/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'shop/js/htmx/htmx_1.8.4.min.js' %}"></script>
  {% django_htmx_script %}
{% endblock %}
{% block custom_scripts %}
{% endblock %}
</body>
</html>