{% extends "shop/shop_base.html" %}
{% load bootstrap4 static %}
{% block head %}
  {% include "django_tableaux/block_head.html" %}
{% endblock %}
{% block content %}
  <div class="container{% block size %}{% endblock %}">
  <h3>{{ view.title }}</h3>
    <div id="messages">
    {% bootstrap_messages %}
    </div>
    <div class="bg-white" id="content">
    {% include "django_tableaux/block_content.html" %}
    </div>
  <div id="modals-here"></div>
  </div>
  <script src="{% static "django_tableaux/js/django_tableaux.js" %}"></script>
{% endblock %}
