{% extends "shop/shop_base.html" %}
{% block head %}

  <style>
      .table-container thead.sticky{
            position: sticky;
            top: 0;
        }
/*
    .table-container th.orderable:before{
        content: '\21c5';
        float: right;
    }
*/
    .table-container th.asc:before {
        content: '\25b2';
        float: right;
    }

    .table-container th.desc:before {
        content: '\25bc';
        float: right;
    }

    td {
    overflow: hidden;
}

.table-container th > a {
    display: block;
}
  </style>

{% endblock %}
{% block content %}
  <div class="container-fluid" style="height: calc(100% - 60px);">
    {% if title %}<h3>{{ title }}</h3>{% endif %}
    <div class="bg-light border-top border-bottom">
      {% include "tables_plus/filter_toolbar.html" %}
    </div>
    <form hx-post="" id="id_table_form">
      {% csrf_token %}
      {% if actions or buttons or columns or view.filter_class and view.filter_modal %}
        <div class="bg-light">
          {% include "tables_plus/action_toolbar.html" %}
        </div>
      {% endif %}
      <div id="table_data" class="bg-white">
        {% include "tables_plus/render_table_data.html" %}
      </div>
    </form>
  </div>
  <div id="modals-here"></div>
{% endblock %}