{% if recaptcha %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <div class="g-recaptcha" data-sitekey="{{ recaptcha_site }}"></div>
  {% if captcha_error %}<p class="text-danger">Please complete the reCPATCHA</p>{% endif %}
{% elif hcaptcha %}
  <script src="https://js.hcaptcha.com/1/api.js" async defer></script>
  <div class="h-captcha" data-sitekey="{{  hcaptcha_site }}"></div>
  {% if captcha_error %}<p class="text-danger">Please complete the hCPATCHA</p>{% endif %}
{% endif %}


