{% load shop_tags %}

<li class="nav-item dropdown has-megamenu">
  <a class="nav-link dropdown-toggle" href="/catalogue/" data-toggle="dropdown">{% if is_archive %}Archive{% else %}
    Catalogue{% endif %}</a>
  <div class="dropdown-menu megamenu" role="menu">
    <div class="row">
      <div class="col col-md-6">
          {% if is_archive %}{% archive_tree "Chinese" as tree %}{% else %}{% catalogue_tree "Chinese" as tree %}{% endif %}
          {% include "shop/includes/catalogue_section.html" %}
      </div>
      <div class="col col-md-6">
          {% if is_archive %}{% archive_tree "Japanese, Islamic and Indian" as tree %}{% else %}{% catalogue_tree "Japanese, Islamic and Indian" as tree %}{% endif %}
          {% include "shop/includes/catalogue_section.html" %}
           {% if is_archive %}{% archive_tree "European" as tree %}{% else %}{% catalogue_tree "European" as tree %}{% endif %}
          {% include "shop/includes/catalogue_section.html" %}
          {% if is_archive %}{% archive_tree "Other" as tree %}{% else %}{% catalogue_tree "Other" as tree %}{% endif %}
          {% include "shop/includes/catalogue_section.html" %}
      </div>
    </div>
  </div>
</li>