{% load shop_tags %}

<li class="nav-item dropdown has-megamenu">
  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">{% if is_archive %}Archive{% else %}
    Catalogue{% endif %}</a>
  <div class="dropdown-menu megamenu" role="menu">
    {% if is_archive %}{% archive_tree as tree %}<a href="/archive/"><h4>Browse archive items</h4></a>
    {% else %}
      {% catalogue_tree as tree %}<a href="/catalogue/"><h4>Browse items on sale</h4></a>
    {% endif %}
    <div class="row">
      {% for item in tree.children %}
        {% if item.shop and is_catalogue or item.archive and is_archive or item.children %}
          {% if item.children|length > 4 %}
          <div class="col-md-3">
          {% endif %}
            <div class="col-megamenu">

        <div class="card">
              <h4 class="title m-2">{{ item.text }}</h4>
                <ul class="list-unstyled">
                  {% for level2 in item.children %}
                    {% if level2.children %}
                      <li><a class="dropdown-item" href="{{ level2.link }}">{{ level2.text }}</a></li>
                      <ul class="list-unstyled">
                        {% for level3 in level2.children %}
                        {% if level3.shop and is_catalogue or level3.archive and is_archive or level3.children %}
                          <li><a class="dropdown-item" href="{{ level3.link }}"><span class="pl-3">{{ level3.text }}</span></a></li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    {% endif %}
                    {% if level2.shop and is_catalogue or level2.archive and is_archive %}
                      <li><a class="dropdown-item" href="{{ level2.link }}">{{ level2.text }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            </div>
                    {% if item.children|length > 4 %}
                      </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</li>