<!-- Selector create a contact. Works with uses contact.js --->
{#<input type="hidden" id="contact_id" name="contact_id"> <!-- holds selected contact id-->#}
{{ form.contact_id }}
<div class="row">
  <div class="col">
    <div class="custom-control custom-radio">
      <input type="radio" id="searchRadio" name="contactRadio"
             class="custom-control-input js-searchContact">
      <label class="custom-control-label" for="searchRadio">Search for existing {{ contact_type }}</label>
    </div>
    <div class="custom-control custom-radio">
      <input type="radio" id="newRadio" name="contactRadio" class="custom-control-input js-createContact">
      <label class="custom-control-label" for="newRadio">Create new {{ contact_type }}</label>
    </div>
  </div>
  <div class="col">
    <div class="input-group" id="searchGroup" style="display:none;">
      <div class="input-group-prepend"><span class="input-group-text">Search</span></div>
      <input type="text" class="form-control" placeholder="Enter at least 3 characters" aria-label=""
             id="select_contact"  autocomplete="off" spellcheck="false" autocorrect="off"
             autocapitalize="off" aria-describedby="basic-addon1">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 my-2">
    <div id="detailsCard" class="card card-body my-2 bg-light" style="height:9rem;">
      <p id="details">{{ contact }}</p>
    </div>
  </div>
</div>
