{% load bootstrap4 %}
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form method="post" action="{{ path }}" class="js-form">
      {% csrf_token %}
      <input type="hidden" id="pk" name="pk" value="{{ pk }}">
      <div class="modal-header bg-guest-light">
        <h5 class="modal-title">{{ view.title }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% bootstrap_form_errors form type="non_fields" %}
        {% if horizontal_form %}
          {% bootstrap_form form layout="horizontal" set_placeholder=False %}
        {% else %}
          {% bootstrap_form form set_placeholder=False %}
        {% endif %}
      </div>
      <div class="modal-footer bg-white">
        {% if allow_delete %}
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-confirm">Delete</button>
        {% endif %}
        <button type="button" class="btn btn-primary js-submit" name="save">Save</button>
      </div>
    </form>
  </div>
</div>