{% load coderedcms_tags i18n  %}
<div class="bg-guest-dark">
  <div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-guest-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Items
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
          <a class="dropdown-item" href="{% url 'item_list' %}">Item list</a>
          <a class="dropdown-item" href="{% url 'item_create' %}">Create new item</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
          <a class="dropdown-item" href="{% url 'category_list' %}">Category list</a>
          <a class="dropdown-item" href="{% url 'category_tree' %}">Category tree</a>
          <a class="dropdown-item" href="{% url 'category_create' %}">Create new category</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Contacts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
          <a class="dropdown-item" href="{% url 'contact_list' %}">All contacts</a>
          <a class="dropdown-item" href="{% url 'vendor_list' %}">Vendors</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Enquiries
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
          <a class="dropdown-item" href="{% url 'enquiry_list' %}">Enquiry list</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Books
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown4">
          <a class="dropdown-item" href="{% url 'book_list' %}">Book list</a>
          <a class="dropdown-item" href="{% url 'compiler_list' %}">Compiler list</a>
        </div>
      </li>
    </ul>
    <form class="form-inline ml-auto" action="{% url 'codered_search' %}" method="GET">
        {% load bootstrap4 %}
        {% get_searchform request as form %}
        {% bootstrap_form form layout='inline' %}
        <div class="form-group">
          <input class="btn btn-outline-white ml-2" type="submit" name="staff" value="Search">
        </div>
    </form>
  </div>
</nav>
</div>
</div>