{% load shop_tags humanize %}
{% if modal %}
  <div class="modal-header">
    <h2 class="modal-title">Invoice {{ object.number }}</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
{% if modal %}<div class="modal-body"><div class="container-fluid">
{% else %}<div><div class="container bg-white shadow mb-2">{% endif %}
  <div class="row">
    <div class="col">
      <p>{{ object.date|date }}</p>
      <p><b>{{ object.buyer.first_name }} {{ object.buyer.company }}</b><br>
        {{ object.buyer.address|linebreaksbr }}</p>
      <hr>
    </div>
  </div>
  {% include "shop/includes/invoice_table.html" %}
  <div class="row">
    <div class="col-10 text-right"><b>Total</b></div>
    <div class="col-2 text-right"><b>£{{ object.total }}</b></div>
  </div>
  <h6>{% if object.paid %} Paid{% else %}<span class="bg-danger text-white">&nbsp;Unpaid&nbsp; </span> {% endif %}</h6>
</div>
</div>
