{% load bootstrap4 %}
<form method="post" action="{{ path }}" novalidate>
  {% csrf_token %}

  {% if creating %}
    <div class="container my-2 py-2">
    <div class="row">
    <div class="col col-md-8 my-2 mx-auto">
  {% endif %}
  <div class="card">
    <div class="card-header card-body bg-white">
      <h4 class="my-0">Purchase summary</h4>
    </div>
    <div class="bg-light">
      <div class="card-body">
        {% bootstrap_messages %}
        <div class="card card-body bg-white">
          <div class="row">
            <div class="col-6">
              <p class="mb-0"><b>{{ vendor.name }}</b></p>
              <div>{{ vendor.address|linebreaks }}</div>
            </div>
            <div class="col-3 text-right">Invoice number<br>Date</div>
            <div class="col-3">{{ purchase.invoice_number }}<br>{{ purchase.date }}</div>
          </div>
          <div class="row">
            <div class="col-4">Cost of lot</div>
            <div class="col-2 text-right">£{{ purchase.cost_lot|floatformat:2 }}</div>
          </div>
          <div class="row">
            <div class="col-4">Buyer's premium</div>
            <div class="col-2 text-right">£{{ purchase.buyers_premium|floatformat:2 }}</div>
          </div>
          <div class="row">
            <div class="col-4"><b>Invoice total</b></div>
            <div class="col-2 text-right border-top border-bottom border-dark">
              <b>£{{ purchase.invoice_total|floatformat:2 }}</b></div>
          </div>
        </div>
        <div class="card card-body bg-white mt-2">
          <div class="row">
            <div class="col mt-2">
              <div class="row">
                <div class="col-2 border-bottom"><b>Ref</b></div>
                <div class="col-5 border-bottom"><b>Item</b></div>
                <div class="col-3 border-bottom text-right"><b>Allocated cost</b></div>
              </div>
              {% for item in items %}
                <div class="row">
                  <div class="col-2">{% if item.ref %}{{ item.ref }}{% else %}<i>TBA</i>{% endif %}</div>
                  <div class="col-6">{{ item.name }}</div>
                  <div class="col-2 text-right">£{{ item.cost_price|floatformat:2 }}</div>
                  <div class="col-2">
                    {% if creating or can_update %}
                      <button type=button class="btn btn-sm btn-outline-secondary py-0 js-call"
                              name="{{ change_path }}{{ item.pk }}/">Change
                      </button>
                    {% endif %}
                  </div>
                </div>
              {% endfor %}
              <div class="row">
                <div class="col-8 text-right"><b>Total items cost</b></div>
                <div class="col-2 text-right border-dark border-top border-bottom">
                  <b>£{{ items_total|floatformat:2 }}</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer card-body bg-white pb-0">
      {% buttons %}
        {#      <button type="button" class="btn btn-primary js-submit" name="close">Close</button>#}
        {% if creating %}
          <button type="submit" class="btn btn-primary" name="back">Back</button>
          {% if remaining > 0 %}
            <button type="submit" class="btn btn-primary" name="item">Add an item</button>
          {% else %}
            <button type="submit" class="btn btn-primary" name="save"
                    {% if remaining != 0 %}disabled{% endif %}>
              Save
            </button>
          {% endif %}
        {% else %}
          <button type="button" class="btn btn-primary js-submit" name="save">Save</button>
        {% endif %}
      {% endbuttons %}
    </div>
  </div>
  {% if creating %}
    </div>
    </div>
    </div>
  {% endif %}
</form>


