{% load static wagtailimages_tags shop_tags bootstrap4 humanize %}
<div class="container bg-white my-2 py-2">
  {{ form.media }}
  {% if not public %}
    {% if modal %}
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>{% else %}
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn close js-post mt-2" name="back" aria-label="Close" style="width:50px">
          <span aria-hidden="true" style="font-size: 2rem;">&times;</span></button>
      </form>
    {% endif %}
  {% endif %}
  <div class="row">
    <div class="col">
      <h2 class="my-4">{{ item.name|titler }}</h2>
      {% if not public %}<h5>Category: {{ item.category.name }}</h5>{% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-6">
      <div class="card p-0 mb-2 border-0 bg-transparent">
        <figure class="image primary mb-0" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"
                data-index="0">
          {% image item.image original as full_image %}
          <a href="{{ full_image.url }}"
             itemprop="contentUrl">{% image item.image max-1000x1000 class="img-fluid" id="main_image" %}</a>
        </figure>
      </div>
      {% if images %}
        <div class="d-flex flex-wrap">
          {% for image in images %}
            <div class="d-flex flex-column pr-2 pb-2">
              {% image image original as full_image %}
              {% image image max-100x100 class="thumb" full=full_image.url index=forloop.counter %}
              {% if not image.show %}<p class="text-center small p-0">Hidden</p>{% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="col-lg-6 mb-4 px-4 ">
      <div class="row">
        <div class="col col-md-6"><h5>Ref: {{ item.ref }}</h5></div>
        <div class="col col-md-6">
          {% if item.show_price and item.sale_price and not item.archive %}
            <h5 class="float-right"> £ {{ item.sale_price|integer|intcomma }}</h5>
          {% elif item.archive %}
          <h5 class="float-right"> Archive item - not for sale</h5>
        {% endif %}
      </div>
      </div>
      {% if public and not item.archive %}
        <div class="d-flex justify-content-center">
        <div>
        <button class="btn btn-guest my-2" data-toggle="modal" data-target="#modal-form">Enquire about this item</button>
        </div>
        </div>
      {% endif %}
      <hr>

      <p class="para">{{ item.description }}</p>
      {% if item.dimensions %}
        <hr>
        <div class="row">
          <p class="col-12 col-lg-3 text-muted mb-1">Dimensions:</p>
          <p class="col-12 col-lg-9">{{ item.dimensions }}</p>
        </div>
      {% endif %}
      {% if item.condition %}
        <hr>
        <div class="row">
          <p class="col-12 col-lg-3 text-muted mb-1">Condition:</p>
          <p class="col-12 col-lg-9">{{ item.condition }}</p>
        </div>
      {% endif %}

      {% if item.notes %}
        <hr>
          <p class="text-muted mb-1">Notes:</p>
          <p>{{ item.notes }}</p>
        </div>
      {% endif %}
      {% if item.book %}
        <hr>
        <div class="row">
          <p class="col-12 col-lg-3 text-muted mb-1">Recommended book:</p>
          <p class="col-12 col-lg-9">{{ item.book.title }}</p>
        </div>
      {% endif %}
      <hr>
      {% if item.provenance %}
        <hr>
        <p class="mt-4">{{ item.provenance }}</p>
      {% endif %}
      <div class="mt-4">
        <form method="post">
          {% csrf_token %}
          {% if public and request.user.is_authenticated %}
            <a class="btn btn-outline-secondary" role="button" href="{% url 'item_detail' pk=item.pk %}">Admin view</a>
          {% endif %}
          {% if not public %}
            <a class="btn btn-outline-secondary" role="button" href="{% url 'item_update' pk=item.pk %}{{ return }}">Edit
              item</a>
            <a class="btn btn-outline-secondary" role="button" href="{% url 'public_item' slug='x' pk=item.pk %}">Public
              view</a>
            {% if in_cart %}
              <span class="badge badge-info">Added to cart</span>
            {% elif not item.archive %}
              <button type="submit" class="btn btn-outline-secondary" name="add">Add to sale</button>
            {% endif %}
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>
</div>
