{% load bootstrap4 wagtailimages_tags %}
<form method="post" action="{{ path }}" class="js-form">
  {% csrf_token %}
  <input type="hidden" id="pk" name="pk" value="{{ object.pk }}">
  {% if modal %}
    <div class="modal-header">
      <h5 class="modal-title">{{ form_title }}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% else %}
    <h5>{{ form_title }}</h5>
  {% endif %}
  <div {% if modal %}class="modal-body"{% endif %}>
    <div class="row">
      <div class="col-md-8">
        {% bootstrap_form form layout="horizontal" %}
      </div>
      <div class="col-md-4">
        <div class="card">
          {% if object and object.image %}
            {% image object.image width-250 as card_image %}
            <img class="card-img-top" src="{{ card_image.url }}">
          {% else %}
            <div class="card-body bg-white text-center" style="height:400px;">
              <i>No image</i>
            </div>
          {% endif %}
        </div>
        <p class="my-2">
          {% if object.pk %}
            <a class="btn btn-secondary" href="{% url 'item_images' pk=object.pk %}">Manage images</a></p>
          {% else %}
            You can add an image after you have saved the item.
          {% endif %}
      </div>
    </div>
  </div>
  <div {% if modal %}class="modal-footer"{% endif %}>
    <div class="row my-3">
      <div class="col">
        {% if modal %}<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>{% endif %}
        {% if allow_delete %}
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-confirm">Delete</button>
        {% endif %}
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</form>

