<!-- Form works for both modal and non modal usage -->
{% load bootstrap4 wagtailimages_tags shop_tags %}
<form method="post" action="{{ path }}" class="js-form">
  {% csrf_token %}
  <input type="hidden" id="pk" name="pk" value="{{ object.pk }}">
  {% if modal %}
    <div class="modal-header">
      <h5 class="modal-title">{{ form_title }} Ref: {{ object.ref }}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  {% bootstrap_messages %}
  <div {% if modal %}class="modal-body"{% endif %}>
    <div class="row">
      <div class="col-md-6">
        {% if form.errors %}<p class="text-danger">Please correct the errors on this form.</p>{% endif %}
        {% bootstrap_field form.name %}
        {% bootstrap_field form.description %}
        {% bootstrap_field form.category %}
        {% bootstrap_field form.condition %}
        {% bootstrap_field form.dimensions %}
        {% bootstrap_field form.provenance %}
      </div>
      <div class="col-md-6">
        <div class="row">

          <div class="col-md-6 border border-secondary shadow">
            {% if object.archive %}
              <fieldset disabled>
              <legend>Archived item</legend>
            {% else %}
              <fieldset>
              <legend>Stock item</legend>
            {% endif %}
            <p>Vendor: {{ object.purchase_data.vendor.company }}</p>
            <p>Purchased on {{ object.purchase_data.date|date }}</p>
            {% bootstrap_field form.location %}
          {% currency_input form.sale_price %}
            {% bootstrap_field form.cost_price layout="horizontal" horizontal_label_class="col-md-6" field_class="col-md-6 py-1" form_group_class="" addon_before="£" %}
            {% bootstrap_field form.restoration_cost placeholder="" layout="horizontal" horizontal_label_class="col-md-6" field_class="col-md-6" form_group_class="" addon_before="£" %}
            <div class="row">
              <div class="col-md-6 my-2"><b>Total cost</b></div>
              <div class="col-md-6 my-2"><b><span id="id_total_cost">£{{ total_cost }}</span></b></div>
            </div>
            {% bootstrap_field form.sale_price placeholder="" layout="horizontal" horizontal_label_class="col-md-6" field_class="col-md-6" form_group_class="" addon_before="£" %}
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6 mb-2 text-sm-left"><span class="text-info">Margin=<span id="id_margin"></span></span>
              </div>
            </div>
            {% if not object.archive %}
              {% bootstrap_field form.minimum_price placeholder="" layout="horizontal" horizontal_label_class="col-md-6" field_class="col-md-6" form_group_class="" addon_before="£" %}
              <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 mb-2 text-sm-left"><span class="text-info">Margin=<span id="id_min_margin"></span></span>
                </div>
              </div>
            {% endif %}
            {% if object.archive %}</fieldset>{% endif %}
            <fieldset>
              <legend>Website</legend>
              {% checkbox form.visible %}
              {% if not object.archive %}
                {% checkbox form.featured %}
                {% checkbox form.show_price %}
              {% endif %}
              <br>
            </fieldset>
          </div>
          <div class="col-md-6">
            <div class="card">
              {% if object and object.image %}
                {% image object.image width-250 as card_image %}
                <img class="card-img-top" src="{{ card_image.url }}">
              {% else %}
                <div class="card-body bg-white text-center" style="height:400px;">
                  <i>No image</i>
                </div>
              {% endif %}
            </div>
            {% if object %}
              {% if object.image %}
                {% if object.category.image == object.image %}<p>Image is used as the category image</p>{% endif %}
                {% if object.category.archive_image == object.image %}<p>Image is used as the archive image</p>
                {% endif %}
                <a class="btn btn-secondary mt-3" style="width:210px" href="{% url 'item_images' pk=object.pk %}">Manage
                  images</a><br>
                {% if object.category.image != object.image %}
                  <button type="submit" class="btn btn-secondary mt-3 mr-2 js-submit" style="width:210px"
                          name="assign_category">Use as
                    category image
                  </button>
                {% endif %}
                {% if object.category.archive_image != object.image %}
                  <button type="submit" class="btn btn-secondary mt-3 js-submit" style="width:210px"
                          name="assign_archive">
                    Use as
                    archive image
                  </button>
                {% endif %}
              {% endif %}
            {% else %}
              You can add an image after you have saved the item.
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mt-2 border shadow">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div {% if modal %}class="modal-footer"{% endif %}>
    <div class="row my-3">
      <div class="col">
        {% if modal %}
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        {% elif object %}
          <a class="btn btn-default" href={% url 'item_detail' pk=object.pk %}>Cancel</a>
        {% endif %}
        {% if allow_delete %}
          <button class="btn btn-danger" {% if modal %}type="button" data-toggle="modal" data-target="#modal-confirm"
                  {% else %}type="submit" name="delete"{% endif %}>Delete
          </button>
        {% endif %}
        <button class="btn btn-primary js-submit" {% if modal %}type="button" {% else %}type="submit"
                name="save"{% endif %}>Save
        </button>
      </div>
    </div>
  </div>
</form>
<script>
    $('body').on('keydown', 'input, select', function (e) {
        if (e.key === "Enter") {
            var self = $(this), form = self.parents('form:eq(0)'), focusable, next;
            focusable = form.find('input,a,select,button,textarea').filter(':visible');
            next = focusable.eq(focusable.index(this) + 1);
            if (next.length) {
                next.focus();
            } else {
                form.submit();
            }
            return false;
        }
    });

    calc();

    $('#id_restoration_cost, #id_sale_price, #id_minimum_price').change(function () {
        calc();
    });

    function calc() {
        let cost = $("#id_cost_price").val() * 100;
        let restoration = parseInt($('#id_restoration_cost').val()) * 100;
        let total_cost = cost + restoration;
        let sale = parseInt($('#id_sale_price').val()) * 100;
        let min_sale = $('#id_minimum_price').val();
        if (Number.isNaN(min_sale)) {
            min_sale = 0;
        } else {
            min_sale = min_sale * 100;
        }
        let profit = sale - total_cost;
        let min_profit = min_sale - total_cost;
        let margin = parseInt(profit / sale * 1000) / 10;
        let min_margin = parseInt(min_profit / min_sale * 1000) / 10;
        $('#id_restoration_cost').val(restoration / 100);
        $('#id_sale_price').val(sale / 100);
        $('#id_minimum_price').val(min_sale / 100);
        $("#id_total_cost").html("£" + total_cost / 100);
        $('#id_margin').html(margin + "%");
        $('#id_min_margin').html(min_margin + "%");
    }
</script>


