{% load humanize %}
{% if modal %}
  <div class="modal-header">
    <h2 class="modal-title">Invoice {{ object.number }}</h2>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
<div {% if modal %}class="modal-body"{% else %}class="container bg-white shadow mb-2"{% endif %}>
  <div class="row">
    <div class="col">
      <p>{{ object.date }}</p>
      <p><b>{{ object.buyer.first_name }} {{ object.buyer.company }}</b><br>
        {{ object.buyer.address|linebreaksbr }}</p>
    <hr>
      <p>Items to be added here</p>
<hr>  <h5>Total: £{{ object.total }}</h5>
    <hr>
      <h6>{% if object.paid %} Paid<{% else %}<span class="bg-danger text-white">&nbsp;Unpaid&nbsp; </span> {% endif %}</h6>
    </div>
  </div>
</div>