<!-- Form works for both modal and non modal usage -->
{% load bootstrap4 wagtailimages_tags shop_tags static %}
<form method="post" action="{{ path }}" class="js-form">
  {% csrf_token %}
  <input type="hidden" id="pk" name="pk" value="{{ object.pk }}">
  {% if modal %}
    <div class="modal-header bg-white">
      <h5 class="modal-title">{{ form_title }} Ref: {{ object.ref }}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endif %}
  {% bootstrap_messages %}
  <div {% if modal %}class="modal-body"{% endif %}>
    <div class="row">
      <div class="col-md-6">
        {% if form.errors %}<p class="text-danger">Please correct the errors on this form.</p>{% endif %}
        {% bootstrap_field form.name %}
        {% bootstrap_field form.description %}
        {% bootstrap_field form.category %}
        {% bootstrap_field form.condition %}
        {% bootstrap_field form.dimensions %}
        {% bootstrap_field form.provenance %}
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6 p-0">
          <div class="card card-body bg-light py-1 border-dark">
            {% if object.archive %}
              <fieldset disabled>
              <legend>Archived item</legend>
            {% else %}
              <fieldset>
              <legend>Stock item</legend>
            {% endif %}
            {% if purchase %}
              <p>Vendor: {{ purchase.vendor.company }}</p>
              <p>Purchased on {{ purchase.date|date }}</p>
            {% else %}
              <p>Purchase details unknown</p>
            {% endif %}
            {% if form.location %}{% bootstrap_field form.location %}{% endif %}
            {% currency_input form.cost_price layout="horizontal" %}
            {% currency_input form.restoration_cost layout="horizontal" %}
            <div class="row">
              <div class="col-md-6 my-2"><b>Total cost</b></div>
              <div class="col-md-5 my-2 text-right"><b><span class="text-right" id="id_total_cost">£ {{ total_cost }}</span></b></div>
            </div>
            {% currency_input form.sale_price layout="horizontal" %}
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6 mb-2 text-right my-0"><span>Margin=<span id="id_margin"></span></span>
              </div>
            </div>
            {% if not object.archive %}
              {% currency_input form.minimum_price layout="horizontal" %}
              <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6 mb-2 text-right"><span>Margin=<span id="id_min_margin"></span></span>
                </div>
              </div>
              <button type="submit" class="btn btn-secondary js-submit" name="add">Add to cart</button>
            {% endif %}
            {% if object.archive %}</fieldset>{% endif %}
            </fieldset>
          </div>
          <div class="card card-body border-dark mt-2 py-1">
            <fieldset>
              <legend>Website</legend>
              {% checkbox form.visible %}
              {% if not object.archive %}
                {% checkbox form.featured %}
                {% checkbox form.show_price %}
              {% endif %}
              <br>
            </fieldset>
          </div>
          </div>
          <div class="col-md-6 mx-0">
            <div class="card">
              {% if object and object.image %}
                {% image object.image width-250 as card_image %}
                <img class="card-img-top" src="{{ card_image.url }}">
              {% else %}
                <div class="card-body bg-white text-center" style="height:400px;">
                  <i>No image</i>
                </div>
              {% endif %}
            </div>
            {% if object %}
              {% if object.image %}
                {% if object.category.image == object.image %}<p>Image is used as the category image</p>{% endif %}
                {% if object.category.archive_image == object.image %}<p>Image is used as the archive image</p>
                {% endif %}
                <a class="btn btn-secondary mt-3" style="width:210px" href="{% url 'item_images' pk=object.pk %}">Manage
                  images</a><br>
                {% if object.category.image != object.image %}
                  <button type="submit" class="btn btn-secondary mt-3 mr-2 js-submit" style="width:210px"
                          name="assign_category">Use as
                    category image
                  </button>
                {% endif %}
                {% if object.category.archive_image != object.image %}
                  <button type="submit" class="btn btn-secondary mt-3 js-submit" style="width:210px"
                          name="assign_archive">
                    Use as
                    archive image
                  </button>
                {% endif %}
              {% endif %}
            {% else %}
              You can add an image after you have saved the item.
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div {% if modal %}class="modal-footer text-left bg-white"{% endif %}>
    <div class="row bg-white">
      <div class="col">
        {% if modal %}
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        {% elif object %}
          <a class="btn btn-default" href={% url 'item_detail' pk=object.pk %}>Cancel</a>
        {% endif %}
        {% if allow_delete %}
          <button class="btn btn-danger" {% if modal %}type="button" data-toggle="modal" data-target="#modal-confirm"
                  {% else %}type="submit" name="delete"{% endif %}>Delete
          </button>
        {% endif %}
        <button class="btn btn-primary js-submit" {% if modal %}type="button" {% else %}type="submit"
                name="save"{% endif %}>Save
        </button>
      </div>
    </div>
  </div>
</form>
{#<script src="{% static 'shop/js/margin_calc.js' %}"></script>#}
<script>
    $('body').on('keydown', 'input, select', function (e) {
        if (e.key === "Enter") {
            var self = $(this), form = self.parents('form:eq(0)'), focusable, next;
            focusable = form.find('input,a,select,button,textarea').filter(':visible');
            next = focusable.eq(focusable.index(this) + 1);
            if (next.length) {
                next.focus();
            } else {
                form.submit();
            }
            return false;
        }
    });

    margin_calc();

    $('#id_restoration_cost, #id_sale_price, #id_minimum_price').change(function () {
        margin_calc();
    });
</script>



