{% extends 'coderedcms/pages/web_page.html' %}
{% load wagtailimages_tags shop_tags%}
{% block content %}
  <div class="container">
    {{ breadcrumb|breadcrumb }}
    <h1 class="mt-4">{{ category.name }}</h1>
    <div class="row mt-4">
      {% for category in categories %}
        {% image category.image width-250 as card_image %}
        <div class="col-sm-6 col-md-4 col-lg-3 d-none d-sm-block">
          <div class="card card-thumb card-thumb-cat shadow d-none d-sm-block">
            <div class="thumbnail" href="#">
              <a href="{{ category.get_absolute_url }}" style="background-image: url({{ card_image.url }});"></a>
            </div>
            <div class="card-body px-2">
              <a href="{{ category.get_absolute_url }}"><span class="text-dark">{{ category.name }}</span></a>
            </div>
          </div>
        </div>
{#        Mobile only #}
        <div class="col-12 d-block d-sm-none mb-2 text-center">
            <a href="{{ category.get_absolute_url }}">
              <img src="{{ card_image.url }}" alt="{{ category.name }}">
              <p class="text-black-50">{{ category.name }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}