{% extends 'coderedcms/pages/web_page_notitle.html' %}
{% load bootstrap4 %}
{% load wagtailimages_tags shop_tags %}
{% block content_body %}
  <div class="container shadow">

    <div class="row my-2 bg-white">
      <div class="col-12 col-lg-6 mt-4 px-5">
        <h3 class="font-georgia">Guest & Gray</h3>
        <address>
          58 Davies Street <br>
          London<br>
          W1K 5LP<br>
        </address>
        <p>
          Phone: +44 (0) 20 7408 1252<br>
          Mobile: +44 (0) 7968 719 496
        </p>
        Mail: <a href="mail:info@chinese-porcelain-art.com">info@chinese-porcelain-art.com</a>
        <br>
        <br>
        <div class="embed-responsive embed-responsive-16by9 border">
          <iframe class="embed-responsive-item" width="100%" style="border:1px" src="https://maps.google.com/maps?q=Guest+and+Gray+London&output=embed" allowfullscreen></iframe>
        </div>
        </div>
      <div class="col-12 col-lg-6 mt-4">
        <p>Use the form below to sign up to our mailing list or to make an enquiry.</p>
        <div class="bg-light px-4 pt-4 pb-2 border">
          <form action="{% url 'public_contact' %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_field form.first_name layout='horizontal' %}
            {% bootstrap_field form.last_name layout='horizontal' %}
            {% bootstrap_field form.email layout='horizontal' %}
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1" name="mail_consent">
              <label class="custom-control-label" for="customCheck1">{{ form.mail_consent.label }}</label>
            </div>
            <hr>
            <p class="small">The fields below are optional:</p>
            {% bootstrap_field form.phone layout='horizontal' %}
            {% bootstrap_field form.subject layout='horizontal' %}
            {% bootstrap_field form.message layout='horizontal' %}
              <script src='https://www.google.com/recaptcha/api.js' async defer></script>
              <div class="g-recaptcha" data-sitekey="{{ captcha_site }}"></div>
            {% buttons %}
              <button type="submit" class="btn btn-guest mt-2">Submit</button>
            {% endbuttons %}
          </form>
          <p class="small"> Your details will not be sold or passed on to any third parties.</p>
        </div>
        <br>
      </div>
      <br>
    </div>

  </div>
{% endblock %}