{% extends 'coderedcms/pages/web_page_notitle.html' %}


{% load static wagtailimages_tags shop_tags bootstrap4 humanize %}
{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'shop/css/photoswipe.css' %}">
  <link rel="stylesheet" href="{% static 'shop/css/default-skin.css' %}">
{% endblock %}

{% block content_body %}
  <div class="container">
    <div class="row">
      <div class="col">
        {% breadcrumb breadcrumb item.archive %}
      </div>
    </div>
  </div>
  {% include 'shop/includes/partial_item_detail.html' with public=True %}
  {% include 'shop/includes/photoswipe.html' %}

  <!-- Modal to hold enquiry form -->
  <div class="modal fade " data-backdrop="static" data-keyboard="false" id="modal-form" role="dialog">
    <div class="modal-dialog {{ modal_class }}" role="document">
      <div class="modal-content bg-guest-light">
        <div class="bg-light px-4 pt-4 pb-2 border">
          <form action="{% url 'public_contact' %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_field form.first_name layout='horizontal' %}
            {% bootstrap_field form.last_name layout='horizontal' %}
            {#            {% bootstrap_field form.email layout='horizontal' %}#}
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1" name="mail_consent">
              <label class="custom-control-label" for="customCheck1">{{ form.mail_consent.label }}</label>
            </div>
            {% bootstrap_field form.subject layout='horizontal' %}
            {% bootstrap_field form.message layout='horizontal' %}
            <p class="text-danger">ToDo: Add recaptcha</p>
            {% buttons %}
              <button type="submit" class="btn btn-primary">Enquire</button>
            {% endbuttons %}
          </form>
          <p class="small"> Your details will not be sold or passed on to any third parties.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_scripts %}
  <script src="{% static "shop/js/photoswipe.min.js" %}"></script>
  <script src="{% static "shop/js/photoswipe-ui-default.min.js" %}"></script>
  <script>
  var last_index=0;
    var pswpElement = document.querySelectorAll('.pswp')[0];
    // build the json album images collection
    var items = [
      {
        src: '{{ item.image.file.url }}',
        w:  {{ item.image.width }},
        h:  {{ item.image.height }},
        title: '{{ item.name }}',
        index: 0
      },
      {% for item in images %}
        {
          src: '{{ item.file.url }}',
          w:  {{ item.width }},
          h:  {{ item.height }},
          title: '{{ item.name }}',
          index: {{ forloop.counter }}
        },
      {% endfor %}
    ];

    $("figure").on("click", function (event) {
      event.preventDefault();
      var options = {
        index: last_index,
        bgOpacity: 0.85,
        showHideOpacity: true
      }
      // Initialize PhotoSwipe
      var lightBox = new PhotoSwipe(pswpElement, PhotoSwipeUI_Default, items, options);
      lightBox.init();
    });

    $(".thumb").click(function() {
    $("#main_image").attr("src", $(this).attr("full"));
    last_index = $(this).attr("index");
});
  </script>
{% endblock %}