{% extends 'coderedcms/pages/web_page_notitle.html' %}
{% load static wagtailimages_tags shop_tags django_bootstrap5 humanize %}
{% block canonical %}
  {{ self.get_url_parts.1 }}/item/{{ item.ref }}/{{ item.slug }}/
{% endblock %}
{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'shop/css/photoswipe.css' %}">
  <link rel="stylesheet" href="{% static 'shop/css/default-skin.css' %}">
{% endblock %}

{% block content %}
  <div class="container-lg p-0">
    <div class="card card-body border-0">
      {% breadcrumb breadcrumb item.archive %}
      {% include 'shop/includes/partial_item_detail.html' with public=True %}
      {% include 'shop/includes/photoswipe.html' %}
    </div>
  </div>
  <div id="modals-here"></div>
{% endblock %}
{% block custom_scripts %}
  {% include "shop/includes/photoswipe_images.html" %}
  <script src="{% static "shop/js/photoswipe.min.js" %}"></script>
  <script src="{% static "shop/js/photoswipe-ui-default.min.js" %}"></script>
{% endblock %}