{% extends 'coderedcms/pages/web_page_notitle.html' %}
{% load wagtailimages_tags shop_tags %}
{% block body_class %} bg-gre{% endblock %}
{% block content_body %}
  <div class="container">
    {% breadcrumb breadcrumb archive %}
    <div class="row">
      <div class="col-md-8">

        <h2 class="font-georgia">{% if archive %}Archive: {% endif %}{{ category.name }}</h2>
        {% if items.has_other_pages %}
          {% include "shop/public/_item_paginator.html" %}
        {% endif %}

      </div>
      <div class="col-md-4">
        {% if category.description %}
          <button type="button" class="btn btn-outline-secondary float-right mt-1" data-toggle="modal"
                  data-target="#catModal">
            Notes on {{ category }}
          </button>
        {% endif %}
      </div>
    </div>

  </div>
  <div class="container-fluid">
    <div class="d-flex justify-content-center flex-wrap">
      {% for item in items %}
        {% image item.image max-250x250 as card_image %}
        <div class="mx-3">
          <div class="card p-0 mb-3 border-0 bg-transparent item-card">
            <a href="{% url "public_item" slug='x' pk=item.pk %}">
              <div class="image">
                <img
                    src="{{ card_image.url }}"
                    class="img img-responsive full-width "/>
              </div>
              {#              <div class="item-icon bg-guest text-white">o</div>   #}
              <div class="caption px-1 text-dark text-center mt-1 mb-3">
                {{ item.name|titler }}
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="d-flex justify-content-center flex-wrap">
      {% include "shop/public/_item_paginator.html" %}
    </div>
  </div>

  <div class="modal" id="catModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ category.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ category.description|linebreaks }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
