{% extends 'coderedcms/pages/web_page_notitle.html' %}
{% load wagtailimages_tags shop_tags %}
{% block body_class %} bg-guest-lighter{% endblock %}
{% block content_body %}
  <div class="container">
    {% breadcrumb breadcrumb archive %}
    <div class="row">
      <div class="col-md-8">

        <h2 class="font-georgia">{% if archive %}Archive: {% endif %}{{ category.name }}</h2>
        <p class="text-black-50">
          {% if page_number %}{{ page_number }}&nbsp;&nbsp;{% endif %}
          Displaying {{ items|length }} of {{ count }} objects
        </p>
      </div>
      <div class="col-md-4">
        {% if category.description %}
          <button type="button" class="btn btn-outline-secondary float-right mt-1" data-toggle="modal"
                  data-target="#catModal">
            Notes on {{ category }}
          </button>
        {% endif %}
      </div>

    </div>
    <div class="row">
      {% for item in items %}
        <div class="col-sm-6 col-md-4 col-lg-3">
          {% image item.image height-250 as card_image %}
          <div class="card card-thumb shadow d-none d-sm-block font-georgia">
            <div class="thumbnail" href="#">
              <a href="{% url "public_item" slug='x' pk=item.pk %}"
                 style="background-image: url({{ card_image.url }});"></a>
            </div>
            <div class="card-body px-2">
              <a href="{% url 'public_item' slug='x' pk=item.pk %}"><span class="text-dark">{{ item.name }}</span></a>
            </div>
          </div>
          <div class="d-xs-block d-sm-none text-center">
            <a href="{% url 'public_item' slug='x' pk=item.pk %}">
              <img src="{{ card_image.url }}">
              <p><span class="text-dark">{{ item.name }}</span></p>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    {% if items.has_other_pages %}
      <nav aria-label="Page navigation">
        <ul class="pagination">
          {% if items.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ items.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
          {% endif %}
          {% for i in items.paginator.page_range %}
            {% if items.number == i %}
              <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
              </li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if items.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ items.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
          {% endif %}
        </ul>
      </nav>
    {% endif %}
  </div>

  <div class="modal" id="catModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ category.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ category.description|linebreaks }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
