{% load static bootstrap4 %}
<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-guest-dark text-white">
        <h5 class="modal-title">Join our mailing list</h5>
      </div>
      <div class="modal-body bg-guest-light">
      <p>Sign up below to receive our occasional newsletter higlighting recently acquired objects.</p>
        <form hx-post="{% url "mail_list" %}" hx-target="#modals-here" id="modalForm" novalidate>{% csrf_token %}
          <input type="hidden" name="ref" value="mail_list">
          <input type="hidden" name="phone" value="">
          <input type="hidden" name="mail_consent" value="true">
          <input type="hidden" name="subject" value="Add to mail list">
          <input type="hidden" name="message" value="">
          <div class="row">
          <div class="col my-1 pr-1">
            {% bootstrap_field form.first_name show_label=False %}
          </div>
          <div class="col my-1 pl-1">
            {% bootstrap_field form.last_name show_label=False%}
          </div>
          </div>
          <div class="mb-3">
            {% bootstrap_field form.email show_label=False%}
          </div>
          <script src='https://www.google.com/recaptcha/api.js' async defer></script>
          <div class="g-recaptcha"  data-sitekey="6Le25qYaAAAAAD1wG31clis_yHlL5bH-bE0Ll27D"></div>
          {% if recaptcha_error %}<p class="text-danger">{{ recaptcha_error }}</p>{% endif %}
          <p class="small mt-2 mb-0">Your details will never be sold or passed to a third party.</p>
        <button type="submit" class="btn bg-guest-dark text-white mt-3">Subscribe</button>
        <button type="button" class="btn bt-outline bg-guest-dark text-white mt-3" onclick="closeModal()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'shop/js/htmx_helper.js' %}"></script>