{% load static bootstrap4 honeypot %}
<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-guest-dark text-white">
        <h5 class="modal-title">Join our mailing list</h5>
      </div>
      <div class="modal-body bg-guest-lighter">
      <p>Sign up below to receive our occasional newsletter highlighting recently acquired objects.</p>
        <form hx-post="{% url "mail_add" %}" hx-target="#modals-here" id="modalForm" {% if not hcaptcha %}novalidate{% endif %}>{% csrf_token %}
          <div class="row">
          <div class="col my-1 pr-1">
            {% bootstrap_field form.first_name show_label=False %}
          </div>
          <div class="col my-1 ps-1">
            {% bootstrap_field form.last_name show_label=False%}
          </div>
          </div>
          <div class="mb-3">
            {% bootstrap_field form.email show_label=False%}
          </div>
          {% render_honeypot_field %}
          {% include "shop/includes/captcha.html" %}
          <p class="small mt-2 mb-0">Your details will never be sold or passed to a third party.</p>
        <button type="submit" class="btn bg-guest-dark text-white mt-3">Subscribe</button>
        <button type="button" class="btn bt-outline bg-guest-dark text-white mt-3" onclick="closeModal()">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'shop/js/htmx_helper.js' %}"></script>