{% extends "shop/shop_base.html" %}
{% load django_bootstrap5  static shop_tags %}
{% block body_class %}bg-guest-light{% endblock %}
{% block content_body %}
  {{ form.media }}
  <div class="container my-2 py-2">
    <div class="row">
      <div class="col col-md-8 my-2 mx-auto">
        <div class="card">
          <div class="card-header card-body bg-white">
            <h4 class="my-0">Create purchase<br>Step 1 - Define vendor</h4>
          </div>
          <form method="post" action="{{ path }}" class="js-form">
            <div class="card-body bg-light">

              {% csrf_token %}
              {% include 'shop/includes/contact_selector.html' with contact_type="vendor" %}
            </div>
            <div class="card-footer card-body bg-white">
                <button type="submit" class="btn btn-primary" name="cancel">Cancel</button>
                <button type="submit" class="btn btn-primary submit-btn" name="next" id="btn_next"
                        {% if not vendor %}disabled {% endif %}>Next
                </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Modal to hold partial form -->
  <div class="modal " data-backdrop="static" data-keyboard="false" id="modal-form" role="dialog">
    <div class="modal-dialog modal-dialog-centered {{ modal_class }}" role="document">
      <div class="modal-content bg-light">
      </div>
    </div>
  </div>
{% endblock %}

{% block custom_scripts %}
  {{ urls|json_script:"id_urls" }}
  <script src= {% static 'shop/js/typeahead.bundle.js' %}></script>
  <script src="{% static 'shop/js/wrap_typeahead.js' %}"></script>
  <script src="{% static 'shop/js/contact.js' %}"></script>
{% endblock %}